* {
  font-family: "Montserrat", sans-serif;
}
.bold {
  font-weight: bold;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center;
  padding: 0px 35px 0px 50px;
  width: 100%;
}
.navigation li {
  padding: 0px 5px;
  font-family: "Montserrat", sans-serif;
}
.navigation img {
  /*-- як її вирівняти по лінії? */
}

.form {
  padding: 0px 15px;
  font-family: "Montserrat", sans-serif;
}

.page-one {
  background-color: #131210;
  width: auto;
  height: auto;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  line-height: 4.013;
}

.left {
  margin-left: auto;
}

.center-car {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  z-index: 11;
  position: relative;
}
.bigger-car {
  width: auto;
}
.container {
  position: relative;
}

.containerbackground {
  width: 100%;
  font-size: 8.2vw;
  font-family: "Montserrat", sans-serif;
  color: rgb(19, 18, 16);
  font-weight: bold;
  line-height: 0.8;
  text-align: center;
  text-shadow: 0px 0px 165px rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.footer-page-one {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  color: rgb(60, 60, 60);
  font-weight: bold;
  line-height: 2.408;
  text-align: left;
  z-index: 24;
  margin-bottom: 10px;
}

.footer-page-one .search {
  font-weight: bold;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

.search {
  align-self: flex-end;
  display: inline-block;
  background: #135ec5;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  border-color: #135ec5;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  height: 50px;
  text-align: center;
}

.search:hover {
  background: #fff;
  color: #135ec5;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.page-two {
  background-color: #ffffff;
  width: auto;
  height: auto;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(85, 71, 71);
  line-height: 4.013;
}

.center-text {
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  color: rgb(193, 193, 193);
  line-height: 4.013;
  text-align: center;
  z-index: 60;
}

.car-logo {
  width: 67px;
  height: 67px;
  opacity: 0.5;
}
.car-logo:hover {
  width: 75px;
  height: 75px;
  opacity: 1;
}

.base-block {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 600px;
}

.child-block {
  margin: auto;
  position: relative;
  width: 50%;
}

.child-background {
  font-size: 2.2vw;
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.204;
  text-align: left;
  text-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  -moz-transform: matrix(2.94412992113393, 0, 0, 2.94412992113393, 0, 0);
  -webkit-transform: matrix(2.94412992113393, 0, 0, 2.94412992113393, 0, 0);
  -ms-transform: matrix(2.94412992113393, 0, 0, 2.94412992113393, 0, 0);
  position: absolute;
  left: 35%;
  top: 0px;
  z-index: 1;
}

.diplaced-2 {
  position: absolute;
  left: 28.2vw;
  top: 5.2vw;
  z-index: 1;
}

.space {
  margin-bottom: 20px;
}

.line {
  border-bottom: 1px solid rgb(212, 208, 208);
}

.blue-bmw {
  font-size: 60px;
  font-family: "Montserrat";
  color: rgb(19, 94, 197);
  font-weight: bold;
  line-height: 1.204;
  text-align: left;
  z-index: 65;
}

.grey-text {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(193, 193, 193);
  text-align: left;
}

.models-link {
  margin-top: 50px;
}

.page-three {
  background: rgb(19, 94, 197);
  background: linear-gradient(
    180deg,
    rgba(19, 94, 197, 1) 75%,
    rgba(255, 255, 255, 1) 75%
  );
  height: 600px;
  padding: 70px 0px 0px 0px;
  text-align: center;
}

.white-announcement {
  font-size: 60px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.204;
  text-align: left;
  z-index: 85;
  text-align: center;
}

.add-now {
  border: 1px solid white;
  background: #135ec5;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 170px;
  height: 50px;
  text-align: center;
  padding: 17px 35px;
  margin: 30px;
}

.add-now:hover {
  background: #fff;
  color: #135ec5;
  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.clear {
  max-width: 100%;
  height: auto;
  display: block;
  clear: both;
  display: block;
}

.spacer {
  height: 150px;
}
.spacer2 {
  height: 100px;
}
.page-four {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #fcfcfd;
}

.list-item {
  background: rgb(19, 94, 197);
  background: linear-gradient(
    180deg,
    rgba(19, 94, 197, 1) 35%,
    rgba(255, 255, 255, 1) 35%
  );
  text-align: center;
  width: 30%;
  padding: 10px 20px;
}

.small {
  padding: 5px 15px !important;
}

.expanded-list-item {
  background: rgb(19, 94, 197);
  background: linear-gradient(
    270deg,
    rgba(19, 94, 197, 1) 40%,
    rgba(255, 255, 255, 1) 40%
  );
  text-align: center;
  overflow: hidden;
  width: 50%;
  padding: 0px 20px;
}

.blue-background {
  font-size: 60px;
  font-family: "Montserrat";
  color: rgba(255, 255, 255, 0.02);
  font-weight: bold;
  line-height: 1.604;
  text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.4);
  -moz-transform: matrix(2.63493190901854, 0, 0, 2.63493190901855, 0, 0);
  -webkit-transform: matrix(2.63493190901854, 0, 0, 2.63493190901855, 0, 0);
  -ms-transform: matrix(2.63493190901854, 0, 0, 2.63493190901855, 0, 0);
  position: absolute;
  left: 8.5vw;
}

.list-item img {
  padding-top: 10%;
  width: 70%;
  padding-left: 1.2vw;
}

.mersedes-black-text {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.mercedes-blue-small {
  line-height: 4.013;
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(19, 94, 197);
  font-weight: bold;
}

._2013___75_500_km___Diesel___1_8 {
  font-size: 18px;
  line-height: 4.013;
  font-family: "Montserrat";
  color: rgb(193, 193, 193);
}

._15_000_ {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(22, 173, 44);
  font-weight: bold;
}

.MORE_INFO {
  font-size: 18px;
  font-family: "Montserrat";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 4.013;
  position: relative;
  top: -5px;
}
.MORE_INFO {
  background: #e2e2e2;
  color: #fff;
  text-decoration: none;
  border-color: #135ec5;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  padding: 20px 50px;
  margin-left: 20px;
}

.MORE_INFO:hover {
  background: #135ec5;
  border: 1px solid #fff;
  color: #fff;

  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.expanded-list-item img {
  margin-left: 17.5%;
}

.grey-text-montserrat {
  font-size: 14px;
  font-family: "Montserrat";
  color: rgb(226, 226, 226);
  font-weight: bold;
  padding: auto;
  margin: auto;
  text-align: center;
}

.price {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(22, 173, 44);
  font-weight: bold;
  text-align: center;
}

.white-button {
  background: #fff;
  color: #135ec5;
  text-decoration: none;
  font-size: 13px;
  border-color: #135ec5;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  padding: 20px 30px;
}

.white-button:hover {
  background: #135ec5;
  border: 1px solid #fff;
  color: #fff;

  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.position-fix {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
}

.position-fix1 {
  width: 40%;
}

.position-fix2 {
  width: 60%;
}

.blue-text-mersedes {
  font-size: 30px;
  font-family: "Montserrat";
  color: rgb(19, 94, 197);
  font-weight: bold;
  line-height: 2.408;
}

.Lorem_ipsum {
  font-size: 16px;
  font-family: "OpenSans";
  color: rgb(193, 193, 193);
  line-height: 3;
}

.order-now {
  align-self: flex-start;
  justify-content: left;
  margin-right: auto;
  margin-left: 5%;
}

.blue-button {
  background: #135ec5;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  border-color: #fff;
  border-radius: 50px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: left;
  padding: 20px 60px;
}

.blue-button:hover {
  background: #fff;
  border: 1px solid #135ec5;
  color: #135ec5;

  box-shadow: 0 4px 4px rgba(83, 100, 255, 0.32);
}

.page-five {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background: rgb(19, 94, 197);
  background: linear-gradient(
    0deg,
    rgba(19, 94, 197, 1) 40%,
    rgba(255, 255, 255, 1) 40%
  );
  height: 800px;
  text-align: center;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.bad-button {
  background-color: rgb(19, 94, 197);
  -webkit-border-top-left-radius: 20px;
  -webkit-border-top-right-radius: 20px;
  -moz-border-radius-topleft: 20px;
  -moz-border-radius-topright: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  text-align: center;
  padding: 10px 20px 20px 10px;
  align-self: center;
  margin-top: 50px;
  margin:auto;
}

.button-fixer {
  margin-left:46%;
  margin-top: 2%;
  padding: 20px 50px!important;

}
