body {
    background-image: url("Background.png");
}

.logo {
    position: relative;
    top: 0px;
    left: 0px;
}

@media screen and (min-width: 1300px) {
    .navbar {
        background-image: url('Blitz.png');
        background-repeat: no-repeat;
        background-position: 0px 20px;
    }

    .page-container {
        width: 49%;
        margin: 40px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        flex-direction: column;
    }
}

@media screen and(max-width: 1300px) {
    .navbar {
        background-image: url('Blitz.png');
        background-repeat: no-repeat;
        background-position: 0px 20px;
    }

    .page-container {
        width: 80%;
        margin: 40px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: visible;
        flex-direction: column;
    }
}

.navbar {
    padding: 0px;
    display: flex;

    width: 49%;
    margin: 40px auto;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.grower {
    flex-grow: 1;
}


.navbar a {
    margin: 0px 0px 0px 5%;
    text-decoration: none;
    flex-shrink: 1;


}

.navbar a:hover {
    background-color: bisque;
    border-radius: 15px;

}

.navbar a p:nth-child(1) {
    font-size: 12px;
    font-family: "Bebas", serif;
    color: rgb(165, 165, 165);
    text-align: center;
    font-weight: bold;
    transform: scaleY(1.2);


}

.navbar a p:nth-child(2) {
    font-size: 20px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    text-align: center;
    font-weight: bold;
    transform: scaleY(1.2);


}


.jesus-logo {
    overflow: hidden;
}

.iframe-container {
    height: 425px;
    padding: 0px;
    margin: 0PX;
}

.iframe-container-promo {
    background-color: rgba(240, 240, 240, 0.2);
;
    width: 260px;
    height: 36px;
    position: relative;
    bottom: 60px;
    left: 0%;
    padding: 10px 0px;
    margin: 0;
}

.iframe-container-promo p:nth-child(1) {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Bebas", serif;
    color: rgb(154, 154, 154);
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    transform: scalex(0.8);

}

.iframe-container-promo p:nth-child(2) {
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-family: "Bebas", serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1;
    font-weight: bold;
    transform: scaleX(0.8);

}

.iframe-container-explain {
    padding: 4px;
    background-color: rgb(250, 250, 250);
}

.iframe-container-explain p:first-child {
    font-size: 16px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    line-height: 1.313;
    text-align: left;
    font-weight: bold;
    transform: scaleY(1.25);

}

.iframe-container-explain p:last-child {
    font-size: 12px;
    font-family: "HelveticaNeue", serif;
    color: rgb(71, 71, 71);
    line-height: 1.167;
    text-align: left;
    font-weight: bold;

}

.iframe-container-three-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.iframe-container-three-box {
    width: 290px;
    padding-right: 20px;
}

.float-svg {
    float: left;
    height: 50px;
    width: 50px;
    margin: 0px 20px 0px 0px;
}

.iframe-container-three-box p:first-of-type {
    font-size: 20px;
    font-family: "Bebas", serif;
    color: rgb(70, 70, 70);
    line-height: 1;
    text-align: left;
    font-weight: bold;
    margin: 0px;
    padding: 0px;

}

.iframe-container-three-box p:nth-of-type(2), . {
    font-size: 12px;
    font-family: "HelveticaNeue", serif;
    color: rgb(65, 65, 65);
    line-height: 1.5;
    text-align: left;
}

.latest-work-title-container {
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    margin: 40px 0px;

}

.latest-work-title {
    font-size: 18px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    line-height: 1;
    text-align: center;
    font-weight: bold;
    background-color: white;
    width: 200px;
    margin:auto;
    transform: scaleY(1.25);


}

.container-four-flex-box {
    width: 220px;
}
.container-four-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.container-four-flex-box p:first-of-type {
    font-size: 14px;
    font-family: "Bebas", serif;
    color: rgb(65, 65, 65);
    text-align: left;
    font-weight: bold;
    transform: scaleY(1.25);

}

.container-four-flex-box p:nth-of-type(2){
    font-size: 12px;
    font-family: "HelveticaNeue", serif;
    color: rgb(65, 65, 65);
    line-height: 1.5;
    text-align: left;
}

.container-four-flex-box p:nth-of-type(3) {
    font-size: 12px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    line-height: 1.5;
    text-align: left;
    font-weight: bold;

}
.about-container {
    text-align: left;
    margin-right: auto;
    margin-left: 5px;
}

.about-container-three-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-container-three-box {
    width: 290px;
    padding:0px 10px 0px 3px;
    margin: 0px 0px 35px 0px;
    overflow: visible;

}

.about-container  p:nth-of-type(1) {
    font-size: 24px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    line-height: 0.1;
    text-align: left;
    font-weight: bold;

}

.about-container  p:nth-of-type(2) {
    font-size: 12px;
    width: 70%;
    font-family: "HelveticaNeue", serif;
    color: rgb(158, 158, 158);
    font-style: italic;
    text-align: left;
}

.about-container-three-box p:nth-of-type(1) {
    font-size: 18px;
    font-family: "Bebas", serif;
    color: rgb(71, 71, 71);
    line-height: 1;
    text-align: left;
    font-weight: bold;
    transform: scaleY(1.25);


}

.about-container-three-box p:nth-of-type(2) {
    font-size: 12px;
    font-family: "HelveticaNeue", serif;
    color: rgb(158, 157, 157);
    line-height: 1.1;
    text-align: left;
    transform: scaleY(1.25);

}

.about-container-three-box p:nth-of-type(3) {
    font-size: 12px;
    font-family: "HelveticaNeue", serif;
    color: rgb(71, 71, 71);
    line-height: 1.5;
    text-align: left;

}

.line {
    width: 100%;
    overflow: hidden;
}

.space-lower {
    margin-bottom: 50px;
}

.jane-code {
    font-size: 12px;
    font-family: "Bebas", serif;
    color: rgb(81, 81, 81);
    line-height: 1.333;
    text-align: left;
    position: relative;
    left: 213.521px;
    bottom: 136.502px;
    font-weight: bold;

}
